.info-pet tr > td:first-child{
    width: 42%;
}

@media (min-width: 420px) and (max-width: 480px) {

    .info-pet .p{
        font-size: 19px !important;
    }
    .panel-item__summary{
        font-size: 19px !important;
    }

    .image-pet{
        margin-bottom: 60% !important;
    }


}
@media (min-width: 48px) and (max-width: 599px) {

    .info-pet .p{
        font-size: 19px !important;
    }
    .panel-item__summary{
        font-size: 19px !important;
    }

    .image-pet{
        margin-bottom: 47% !important;
    }


}

@media (min-width: 600px) and (max-width: 770px) {

    .info-pet .p{
        font-size: 10px !important;
    }
    .panel-item__summary{
        font-size: 10px !important;
    }

    .image-pet{
        margin-bottom: 70% !important;
    }


}
@media (max-width: 330px)  {
    .image-pet{
        margin-bottom: 78% !important;
    }
    .info-pet .p{
        font-size: 10px !important;
    }
    .panel-item__summary{
        font-size: 10px !important;
    }

}

@media (min-width: 990px) and (max-width: 1023px) {

    .image-pet{
        margin-bottom: 44% !important;
    }


}
@media (min-width: 1024px) and (max-width: 1200px) {
    .info-pet .p{
        font-size: 12px !important;
    }
    .panel-item__summary{
        font-size: 11px !important;
    }

}