
RewriteEngine on

RewriteRule ^magicegg  magicegg.php [NC,L]
RewriteRule ^marketplace  marketplace.php [NC,L]
RewriteRule ^mypet  mypet.php [NC,L]
RewriteRule ^monster  monster.php [NC,L]
RewriteRule ^v3monster  v3monster.php [NC,L]
RewriteRule ^v4monster  v4monster.php [NC,L]
RewriteRule ^farm  farm.php [NC,L]
RewriteRule ^fanpage  fanpage.php [NC,L]